@import "ember-power-select";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.card {
  height: auto;
  width: 100%;
  padding: 15px;
}

.card .button-solid {
  width: 70px;
  margin: 0 93%;
}

.add-choice {
  width: 100px;
}

.choice-actions span {
  padding: 5px;
}

.choice-actions span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.correct {
  background-color: rgba(0, 255, 0, 0.1);
}
.custom-confirm-dialog {

  .dialog-title{
    background-color: #bbc7bc;
    font-weight: bold;
    padding: 10px;
  }

  .dialog-text{
    margin: 0px;
  }

  .dialog-footer{
    background-color: #fcffb0;
    padding: 5px;
  }
}

.c-datepicker__clock {
  padding-bottom: 200px
}

.c-datepicker__header-date {
  height: 165px;
}

.info-text {
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}