@import "ember-searchable-select/style";

.card {
  height: auto;
  width: 100%;
  padding: 15px;
}

.card .button-solid {
  width: 70px;
  margin: 0 93%;
}

.add-choice {
  width: 100px;
}

.choice-actions span {
  padding: 5px;
}

.choice-actions span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.correct {
  background-color: rgba(0, 255, 0, 0.1); 
}