<header>
  <nav class="main-nav">
    <span class="hamburger-parent">
      <i class="hamburger fas fa-bars"></i>
    </span>
    <span class="logo-parent">
      {{#link-to 'index' class="logo-link"}}
        <img src="https://online.codingblocks.com/images/online-logo-43dd0ede19c18f0f0aeadceab04cc364.png" alt="online-logo" class="nav-logo pointer">
      {{/link-to}}
    </span>

    <ul class="nav-list">

      {{#if (eq currentUser.user.role 'ADMIN')}}
        {{#link-to 'tags'}}
          <li class="nav-items pointer">
            Tags
          </li>
        {{/link-to}}

        {{#link-to 'questions'}}
          <li class="nav-items pointer">
            Questions
          </li>
        {{/link-to}}

        {{#link-to 'quiz'}}
          <li class="nav-items pointer">
            Quiz
          </li>
        {{/link-to}}
      {{/if}}

      {{!--
      <a href="https://online.codingblocks.com/">
        <li class="nav-items pointer">
          ONLINE COURSES
        </li>
      </a> --}} {{#if session.isAuthenticated}}<li class="nav-items pointer">
      Hi,<mark>{{currentUser.user.firstname}}</mark>
    </li>
      <li class="nav-items pointer">
        <div class="button-solid">
          <a class="white">
            <button {{action 'logout'}}>Logout</button>
          </a>
        </div>
      </li>
      {{else}}
      <li class="nav-items pointer">
        <div class="button-solid">
          <a class="white" href="{{loginUrl}}">
            <button>Login</button>
          </a>
        </div>
      </li>
      {{/if}}


    </ul>
  </nav>

</header>